<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">

<head>
    <%- include("./partials/head") %>
        <title>Chat</title>
</head>

<body>
    <%- include("./partials/header") %>
        <div class="page-wrapper">
            <header class="header">
                <div class="header__inner">
                    <div class="container-fluid">
                        <div class="header__row row justify-content-between">
                            <div class="header__col-left col d-none align-items-center">
                                <div class="header__left-toggle">
                                    <button class="header__toggle-search toggle-search">
                                        <svg class="icon-icon-search">
                                            <use xlink:href="#icon-search"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="header__search">
                                    <form class="form-search" action="#" method="GET">
                                        <div class="form-search__container">
                                            <span class="form-search__icon-left">
                                                <svg class="icon-icon-search">
                                                    <use xlink:href="#icon-search"></use>
                                                </svg>
                                            </span>
                                            <input id="main-search" class="form-search__input" type="text"
                                                placeholder="Search..." />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="header__col-right col d-flex align-items-center">
                                <div class="header__profile dropdown">
                                    <a class="header__profile-toggle dropdown__toggle" href="javascript:void(0)"
                                        data-toggle="dropdown">
                                        <div class="header__profile-image">
                                            <img src="/<%= user.avatar %>" alt="<%= user.fullName %>">
                                        </div>
                                        <div class="header__profile-text">
                                            <span>
                                                <%= user.fullName %>
                                            </span>
                                        </div>
                                        <span class="icon-arrow-down">
                                            <svg class="icon-icon-arrow-down">
                                                <use xlink:href="#icon-arrow-down"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <div class="profile-dropdown dropdown-menu dropdown-menu--right">
                                        <a class="profile-dropdown__item dropdown-menu__item" href="/logout"
                                            tabindex="0">
                                            <span class="profile-dropdown__icon">
                                                <svg class="icon-icon-logout">
                                                    <use xlink:href="#icon-logout"></use>
                                                </svg>
                                            </span>
                                            <span>Log out</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="page-content page-content--full">
                <div class="chat-grid">
                    <div class="chat-users">
                        <div class="chat-users__top">
                            <form class="chat-users__search invisible">
                                <div class="input-group input-group--prepend">
                                    <div class="input-group__prepend">
                                        <svg class="icon-icon-search">
                                            <use xlink:href="#icon-search"></use>
                                        </svg>
                                    </div>
                                    <input class="input" type="text" placeholder="Search...">
                                </div>
                            </form>
                            <div class="chat-users__top-right">
                                <button class="chat-users__button-add-users button-icon button-icon--small"
                                    data-toggle="users-add-list"><span class="button-icon__icon">
                                        <svg class="icon-icon-plus">
                                            <use xlink:href="#icon-plus"></use>
                                        </svg></span><span class="button-icon__icon">
                                        <svg class="icon-icon-chevron">
                                            <use xlink:href="#icon-chevron"></use>
                                        </svg></span>
                                </button>
                            </div>
                        </div>
                        <div class="chat-users__add-content scrollbar-thin scrollbar-hidden" data-simplebar>
                            <div class="header-online">Friends Online</div>
                            <ul id="list-online" class="chat-users__list"></ul>
                        </div>
                        <div class="chat-users__content scrollbar-thin scrollbar-hidden" data-simplebar>
                            <ul id="list-conversation" class="chat-users__list"></ul>
                        </div>
                    </div>
                    <div id="main-chat-board" class="chat-details not-current-chat">
                        <div class="chat-details__backdrop"></div>
                        <div class="chat-details__top">
                            <div class="chat-details__top-left">
                                <button class="chat-details__toggle toggle-sidebar toggle-sidebar--secondary"
                                    type="button" data-dismiss data-tippy-content="Back to User's"
                                    data-tippy-placement="bottom">
                                    <svg class="icon-icon-chevron">
                                        <use xlink:href="#icon-chevron"></use>
                                    </svg>
                                </button>
                                <a class="media-item media-item--medium" href="javascript:void(0)">
                                    <div class="media-item__icon color-red">
                                        <div class="media-item__icon-text"></div>
                                        <img class="media-item__thumb" />
                                    </div>
                                    <div class="media-item__right">
                                        <h5 class="media-item__title font-weight-medium"></h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="chat-details__content scrollbar-thin scrollbar-hidden" data-simplebar></div>
                        <form id="main-editing">
                            <div class="chat-details__bottom">

                                <div class="chat-details__input-group input-group input-group--white">
                                    <input autocomplete="off" id="chat-text" class="chat-details__input input"
                                        type="text" placeholder="Write a Message...">
                                </div>
                                <div class="chat-details__bottom-right">
                                    <button class="button-add button-add--blue" type="submit"><span
                                            class="button-add__icon">
                                            <svg class="icon-icon-send">
                                                <use xlink:href="#icon-send"></use>
                                            </svg></span><span class="button-add__text"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
        <%- include("./partials/footer") %>
            <script src="/js/jquery.timeago.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script>
                // IIFE - Immediately Invoked Function Expression
                (function ($, window, document) {

                    // The $ is now locally scoped 

                    // Listen for the jQuery ready event on the document
                    $(async function () {

                        // The DOM is ready!

                        const socket = io();

                        socket.emit('addUser', user.id);

                        socket.on('getUsers', users => {
                            renderOnlinePeople(users);
                        })

                        socket.on('getMessage', (message) => {
                            if (message.conversationId === currentConversationId) {
                                setMessages([message]);
                                scrollDown();
                            }

                            renderNewMessage(message);
                        })

                        socket.on('getTyping', ({ user, conversationId }) => {
                            appendTypingIndicator(user, conversationId);
                        })

                        socket.on('getOffTyping', ({ user, conversationId }) => {
                            removeTypingIndicator(user, conversationId);
                        })

                        // Load conversation for first time
                        await loadConvData(user);

                        // Handle submit messages
                        formChat.on('submit', async function (event) {

                            const input = $(this).find('#chat-text');

                            if ($.trim(input.val()) === "") {
                                return event.preventDefault();
                            }

                            event.preventDefault();
                            const conversationId = $(this).data('conversationId');
                            const receiver = $(this).data('receiver');
                            const senderId = user.id;
                            const text = input.val();
                            const data = { conversationId, senderId, text };
                            input.val('');

                            const res = await addNewMessage(data);

                            setMessages([res.data]);

                            renderNewMessage(res.data);

                            socket.emit('sendMessage', res.data);

                            socket.emit('sendOffTyping', { user, conversationId: currentConversationId });

                            setTimeout(() => {
                                socket.emit('sendTyping', { user, conversationId: currentConversationId })
                            }, 500);

                            scrollDown();


                        });

                        formChat.find('#chat-text').on('focus', function (event) {
                            socket.emit('sendTyping', { user, conversationId: currentConversationId });
                        });

                        formChat.find('#chat-text').on('blur', function (event) {
                            socket.emit('sendOffTyping', { user, conversationId: currentConversationId });
                        });

                        formChat.find('#chat-text').on('input', function (event) {
                            clearTimeout(myTimeOut);
                            myTimeOut = setTimeout(function () {
                                socket.emit('sendTyping', { user, conversationId: currentConversationId });
                            }, 200);
                        });
                    });


                    let myTimeOut;

                    let currentConversationId;

                    // Handle scroll down on chat body
                    function scrollDown() {
                        chatScroll.scrollTop(chatScroll.find('.simplebar-content').height());
                    }

                    // The rest of the code goes here!
                    const user = JSON.parse('<%- JSON.stringify(user) %>');
                    const leftBar = $('#list-conversation');
                    const onlineBar = $('#list-online');
                    const chatFormHeader = $('.chat-details__top');
                    const chatFormBody = $('.chat-details__content.scrollbar-thin.scrollbar-hidden');
                    const formChat = $('#main-editing');
                    const chatScroll = chatFormBody.find('.simplebar-content-wrapper');
                    const showOnBtn = $('.chat-users__button-add-users.button-icon.button-icon--small');

                    // Get conversation of this user
                    function getConvsOfUser(userId) {
                        return $.ajax({
                            type: 'GET',
                            url: `/api/conversation/${userId}`,
                        });
                    }

                    // Get user information
                    function getUserInfo(userId) {
                        return $.ajax({
                            type: 'GET',
                            url: `/api/user/${userId}`,
                        });
                    }

                    // Add new message
                    function addNewMessage(data) {
                        return $.ajax({
                            type: 'POST',
                            url: '/api/message',
                            data: JSON.stringify(data),
                            dataType: 'json',
                            contentType: 'application/json',
                        });
                    }

                    // get user information and return for 1:1 conversation
                    async function renderSingleConversation(userId, id) {
                        const res = await getUserInfo(userId);
                        return {
                            conversationId: id,
                            friend: res.data
                        };
                    }

                    // get user information and return for 1:n conversation
                    async function renderGroupConversation(userIds, id) {
                        const res = await getUserInfo(userIds);
                        return {
                            conversationId: id,
                            friends: res.data
                        };
                    }

                    // Get short of name function
                    function getShortNameFormat(fullName) {
                        let rgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu');
                        let initials = [...fullName.matchAll(rgx)] || [];
                        initials = (
                            (initials.shift()?.[1] || '') + (initials.pop()?.[1] || '')
                        ).toUpperCase();
                        return initials;
                    }

                    // Create new name for 1:n conversation
                    function getNameForGroup(friends) {
                        let groupName = friends.map(friend => {
                            const fullName = friend.fullName.split(' ');
                            return fullName[fullName.length - 1];
                        });
                        const userName = user.fullName.split(' ');
                        groupName = [userName[userName.length - 1]].concat(groupName);
                        return groupName.join(', ');
                    }

                    // Handle load conversation to DOM
                    async function loadConvData(user) {
                        leftBar.empty();
                        const res = await getConvsOfUser(user.id);
                        const conversations = res.data;
                        conversations.map(function (conversation) {
                            const members = conversation.members;
                            const friends = members.filter((memberId) => memberId !== user.id);
                            if (friends.length < 2) {
                                renderSingleConversation(friends[0], conversation.id)
                                    .then(async (data) => {
                                        await appendSingleConversation(data);
                                    })
                            } else {
                                renderGroupConversation(friends, conversation.id)
                                    .then(async (data) => {
                                        await appendGroupConversation(data);
                                    })
                            }
                        })
                    }

                    // append 1:1 conversation to left sidebar conversation list
                    async function appendSingleConversation(conversation) {
                        const friend = conversation.friend;
                        const conversationId = conversation.conversationId;
                        const res = await getLatestOfConversation(conversation.conversationId);
                        const newest = res.data;
                        let html = '';
                        if (!newest) {
                            html += `<li id="conv-${conversationId}" class="chat-users__list-item">
                                        <a class="chat-users__item current-conv-chat" href="javascript:void(0)">
                                            <div class="chat-users__item-avatar color-orange">
                                                <div class="chat-users__item-avatar-text">${getShortNameFormat(friend.fullName)}</div>
                                                <img src="/${friend.avatar}" alt="${friend.fullName}">
                                            </div>
                                            <div class="chat-users__item-right">
                                                <h5 class="chat-users__item-name">${friend.fullName}</h5>
                                                <div class="chat-users__item-right-group">
                                                    <span class="chat-users__item-time"></span>
                                                </div>
                                                <div class="chat-users__item-message">
                                                    <p class="chat-users__item-text"></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>`
                        } else {
                            html += `<li id="conv-${conversationId}" class="chat-users__list-item">
                                        <a class="chat-users__item current-conv-chat" href="javascript:void(0)">
                                            <div class="chat-users__item-avatar color-orange">
                                                <div class="chat-users__item-avatar-text">${getShortNameFormat(friend.fullName)}</div>
                                                <img src="/${friend.avatar}" alt="${friend.fullName}">
                                            </div>
                                            <div class="chat-users__item-right">
                                                <h5 class="chat-users__item-name">${friend.fullName}</h5>
                                                <div class="chat-users__item-right-group">
                                                    <span class="chat-users__item-time">
                                                        <abbr class="timeago" title="${newest.createdAt}"></abbr>
                                                        <time class="timeago" datetime="${newest.createdAt}"></time>
                                                    </span>
                                                </div>
                                                <div class="chat-users__item-message">
                                                    <p class="chat-users__item-text"><span style="font-weight: 700">${newest.sender.fullName}</span>: ${newest.text}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>`
                        }

                        leftBar.append(html);

                        $("abbr.timeago").timeago();

                        const _this = $(`#conv-${conversationId}`);

                        _this.on('click', async function (event) {
                            $('.chat-users__item.current-conv-chat').removeClass('active');
                            _this.find('a').addClass('active');
                            const bodyItem = _this.find('.chat-users__item-right');
                            bodyItem.find('.badge.badge--small.badge--red').text('');
                            const res = await getMessageOfConversation(conversationId);
                            const messages = res.data;
                            chatFormHeader.find('.media-item__thumb').attr({
                                'src': `/${friend.avatar}`,
                                'alt': friend.fullName
                            })
                            chatFormHeader.find('.media-item__thumb').removeClass('d-none');
                            chatFormHeader.find('.media-item__icon-text').text(getShortNameFormat(friend.fullName));
                            chatFormHeader.find('h5').text(friend.fullName);
                            chatFormBody.find('.simplebar-content').empty();
                            setMessages(messages);
                            $('#main-chat-board').removeClass('not-current-chat');
                            formChat.data('conversationId', conversationId);
                            formChat.data('receiver', friend);
                            formChat.find('#chat-text').val('');
                            currentConversationId = conversationId;
                            scrollDown();
                        })
                    }

                    // append 1:n conversation to left sidebar conversation list
                    async function appendGroupConversation(conversation) {
                        const friends = conversation.friends;
                        const conversationId = conversation.conversationId;
                        const res = await getLatestOfConversation(conversation.conversationId);
                        const newest = res.data;
                        const groupName = getNameForGroup(friends);
                        let html = '';
                        if (!newest) {
                            html += `<li id="conv-${conversationId}" class="chat-users__list-item">
                                        <a class="chat-users__item current-conv-chat" href="javascript:void(0)">
                                            <div class="chat-users__item-avatar color-orange">
                                                <div class="chat-users__item-avatar-text">${getShortNameFormat(groupName)}</div>
                                            </div>
                                            <div class="chat-users__item-right">
                                                <h5 class="chat-users__item-name">${groupName}</h5>
                                                <div class="chat-users__item-right-group">
                                                    <span class="chat-users__item-time"></span>
                                                </div>
                                                <div class="chat-users__item-message">
                                                    <p class="chat-users__item-text"></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>`
                        } else {
                            html += `<li id="conv-${conversationId}" class="chat-users__list-item">
                                        <a class="chat-users__item current-conv-chat" href="javascript:void(0)">
                                            <div class="chat-users__item-avatar color-orange">
                                                <div class="chat-users__item-avatar-text">${getShortNameFormat(groupName)}</div>
                                            </div>
                                            <div class="chat-users__item-right">
                                                <h5 class="chat-users__item-name">${groupName}</h5>
                                                <div class="chat-users__item-right-group">
                                                    <span class="chat-users__item-time">
                                                        <abbr class="timeago" title="${newest.createdAt}"></abbr>
                                                        <time class="timeago" datetime="${newest.createdAt}"></time>
                                                    </span>
                                                </div>
                                                <div class="chat-users__item-message">
                                                    <p class="chat-users__item-text"><span style="font-weight: 700">${newest.sender.fullName}</span>: ${newest.text}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>`
                        }

                        leftBar.append(html);

                        $("abbr.timeago").timeago();

                        const _this = $(`#conv-${conversationId}`);

                        _this.on('click', async function (event) {
                            $('.chat-users__item.current-conv-chat').removeClass('active');
                            _this.find('a').addClass('active');
                            const bodyItem = _this.find('.chat-users__item-right');
                            bodyItem.find('.badge.badge--small.badge--red').text('');
                            const res = await getMessageOfConversation(conversationId);
                            const messages = res.data;
                            chatFormHeader.find('.media-item__thumb').removeAttr('src alt');
                            chatFormHeader.find('.media-item__thumb').addClass('d-none');
                            chatFormHeader.find('.media-item__icon-text').text(getShortNameFormat(groupName));
                            chatFormHeader.find('h5').text(groupName);
                            chatFormBody.find('.simplebar-content').empty();
                            setMessages(messages);
                            $('#main-chat-board').removeClass('not-current-chat');
                            formChat.data('conversationId', conversationId);
                            formChat.data('receiver', friends);
                            formChat.find('#chat-text').val('');
                            currentConversationId = conversationId;
                            scrollDown();
                        })
                    }

                    // Get all messages from conversation
                    function getMessageOfConversation(conversationId) {
                        return $.ajax({
                            type: 'GET',
                            url: `/api/message/${conversationId}`,
                        });
                    }

                    // get latest message from conversation
                    function getLatestOfConversation(conversationId) {
                        return $.ajax({
                            type: 'GET',
                            url: `/api/message/${conversationId}/latest`,
                        });
                    }

                    function renderDomFromMessages(messages) {
                        return messages.map(message => {
                            const isUrl = isValidHttpUrl(message.text);
                            return `<div class="${message.sender.id === user.id ? 'chat-message' : 'chat-message chat-message--answer'}">
                                        <div class="chat-message__content">
                                            <a class="chat-message__icon color-teal" href="javascript:void(0)">
                                                <div class="chat-message__icon-text">${getShortNameFormat(message.sender.fullName)}</div>
                                                <img src="/${message.sender.avatar}" alt="${message.sender.fullName}">
                                            </a>
                                            <div class="chat-message__right">
                                                <div class="chat-message__messages">
                                                    <div class="chat-message__message-group">
                                                        <div class="chat-message__message-item">
                                                            ${!isUrl ? `<p class="chat-message__item-text">${message.text}</p>` : `<a href="${message.text}" class="chat-message__item-text">${message.text}</a>`}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chat-message__bottom">
                                            <div class="chat-message__time">
                                                <abbr class="timeago" title="${message.createdAt}"></abbr>
                                                <time class="timeago" datetime="${message.createdAt}"></time>
                                            </div>
                                            ${isUrl ? `<div class="chat-message__files">
                                                            <div class="chat-message__files-items">
                                                                <div class="chat-message__file">
                                                                    <img src="${message.text}" />
                                                                </div>
                                                            </div>
                                                        </div>` : ''}
                                        </div>
                                    </div>`
                        }).join('');
                    }

                    // Use returned messages to render in DOM
                    function setMessages(messages) {
                        const domText = renderDomFromMessages(messages);
                        chatFormBody.find('.simplebar-content').append(domText);
                        $("abbr.timeago").timeago();
                    }

                    // Handle when focus form input
                    function appendTypingIndicator(user, conversationId) {
                        if (conversationId !== currentConversationId) {
                            return;
                        }

                        chatFormBody.find(`.${user.id}`).remove();

                        const domText = `<div class="chat-message chat-message--answer people-typing ${user.id}">
                                                <div class="chat-message__content">
                                                    <a class="chat-message__icon color-teal" href="javascript:void(0)">
                                                        <div class="chat-message__icon-text">${getShortNameFormat(user.fullName)}</div>
                                                        <img src="/${user.avatar}" alt="${user.fullName}">
                                                    </a>
                                                    <div class="chat-message__right">
                                                        <div class="chat-message__messages">
                                                            <div class="chat-message__message-group">
                                                                <div class="chat-message__message-item">
                                                                    <div class="ticontainer">
                                                                        <div class="tiblock">
                                                                            <div class="tidot"></div>
                                                                            <div class="tidot"></div>
                                                                            <div class="tidot"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>`
                        chatFormBody.find('.simplebar-content').append(domText);

                        scrollDown();
                    }

                    // Handle when blur form input
                    function removeTypingIndicator(user, conversationId) {
                        if (conversationId !== currentConversationId) {
                            return;
                        }

                        chatFormBody.find(`.${user.id}`).remove();

                        scrollDown();
                    }

                    // Render people online
                    function renderOnlinePeople(users) {
                        let html = users.map(u => {
                            if (u.user.id !== user.id) {
                                return `<li class="chat-users__list-item">
                                            <a class="chat-users__item current-conv-chat" href="javascript:void(0)">
                                                <div class="chat-users__item-avatar color-orange">
                                                    <div class="chat-users__item-avatar-text">${getShortNameFormat(u.user.fullName)}</div>
                                                    <img src="/${u.user.avatar}" alt="${u.user.fullName}">
                                                    <span class="badge-signal badge-signal--green"></span>
                                                </div>
                                                <div class="chat-users__item-right">
                                                    <h5 class="chat-users__item-name">${u.user.fullName}</h5>
                                                    <div class="text-sm text-grey">Hi there! I'm using chat</div>
                                                </div>
                                            </a>
                                        </li>`
                            }
                        }).join('');
                        onlineBar.empty();
                        onlineBar.append(html);
                    }

                    // Render new message
                    function renderNewMessage(message) {
                        const conversationItem = $(`#conv-${message.conversationId}`);
                        const conversationName = conversationItem.find('h5').text();
                        const bodyItem = conversationItem.find('.chat-users__item-right');
                        let count = bodyItem.find('.badge.badge--small.badge--red').text();

                        if (currentConversationId !== message.conversationId) {
                            if (!count) {
                                count = 0;
                            }
                            count++;
                        }

                        let html = '';
                        html += `<h5 class="chat-users__item-name">${conversationName}</h5>
                                    <div class="chat-users__item-right-group">
                                        <span class="chat-users__item-time">
                                            <abbr class="timeago" title="${message.createdAt}"></abbr>
                                            <time class="timeago" datetime="${message.createdAt}"></time>
                                        </span>
                                    </div>
                                    <div class="chat-users__item-message">
                                        <div class="chat-users__item-badge">
                                            <span class="badge badge--small badge--red">${count}</span>
                                        </div>
                                        <p class="chat-users__item-text">
                                            <span style="font-weight: 700">${message.sender.fullName}</span>: ${message.text}</p>
                                    </div>`;
                        bodyItem.html(html);
                        $("abbr.timeago").timeago();
                        conversationItem.prependTo(leftBar);
                    }

                    // Check if message is URL
                    function isValidHttpUrl(string) {
                        let url;
                        try {
                            url = new URL(string);
                        } catch (_) {
                            return false;
                        }

                        return url.protocol === "http:" || url.protocol === "https:";
                    }
                }(window.jQuery, window, document));
            </script>
</body>

</html>