#auth-sidebar-bg-light {
  background: #0081ff;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#auth-sidebar-bg-dark {
  background: #0027b9;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header__profile-image img {
  object-fit: cover;
}

.tiblock {
  align-items: center;
  display: flex;
  height: 24px;
}

@media (max-width: 575px) {
  .tiblock {
    align-items: center;
    display: flex;
    height: 22.4px;
  }
}

.ticontainer .tidot {
  background-color: #90949c;
}

.tidot {
  animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 2px;
  display: inline-block;
  height: 4px;
  margin-right: 2px;
  width: 4px;
}

@keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
  }
  28% {
    -webkit-transform: translateY(-5px);
  }
  44% {
    -webkit-transform: translateY(0px);
  }
}

.tidot:nth-child(1) {
  animation-delay: 200ms;
}
.tidot:nth-child(2) {
  animation-delay: 300ms;
}
.tidot:nth-child(3) {
  animation-delay: 400ms;
}

.people-typing .chat-message__message-item {
  background-color: #e6e7ed;
}

abbr[title] {
  text-decoration: none !important;
}

.header-online {
  flex: 1;
  display: block;
  text-align: center;
  padding-block: 20px;
}

a.chat-message__item-text:hover {
  color: #fff;
  text-decoration: underline;
}
